.custom-navbar{
    left:50% !important;;
    transform:translateX(-50%) !important;;
    top:2% !important;;
    backdrop-filter:blur(10px) !important;;
    background:rgba(255, 255, 255, 0.16) !important;
    border: 1px solid rgba(255, 255, 255, 0.28);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    width: 95%;
}

.underlay{
    background-color: rgba(0,0,0,0.6);
    z-index: 55;
    visibility: hidden;
}

.sidebar{
    transform: translateX(-100%);
    transition: all 0.3s;
}